*{
    margin:0;
    padding:0;
}

/*center*/

.center{
    text-align: center;
}


.center .buttons{
    text-align: center;
 
}

.center h1{
    font-size: 40px;
    margin: 35px 280px;
    text-align: center;
    margin-top: 35px;
    
 
}

.center h2{
    font-size: 30px;
    margin: 35px 280px;
    text-align: center;
   
 
}

/*buttons*/


.buttons button{
    height: 80px;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    background:rgb(209, 96, 143) ;
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    transition: .5s ;
    justify-items: center;
   
    
}

.buttons button:hover{
    background:#a75ad4;
}

.background{
    background: #e4e99c;
    height: 100vh;
    background-size:100% 100% ;
    margin-top: -35px;
    
}